
.active-item {
    border: 1px solid white;
    padding: 0.5em;
}

a[class^="raid-link"] {
    margin: 0 0.5em;
}

.raid-link-active {
    font-weight: bold;
}

.fated {
    width: 200px;
    height: 30px;
    color: white;
    background-color: white;
    background-repeat: no-repeat;
    background-blend-mode: initial;
    background-size: cover;
    padding: 10px;
    display: flex;
    border: solid 1px black;
    border-radius: 4px;
    justify-content: center;
    vertical-align: text-center;
    align-items: center;
    position: relative;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.fated .fated-icon {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 999;
}

.fated .boss-link {
    overflow-wrap: break-word;
    height: 100%;
    width: 100%;
}

.fated.inactive {
    background-blend-mode: luminosity;
}

.fated.nathria {
    background-image: url("https://raid.subcreation.net/images/raids/castle-nathria-small.jpg");
}

.fated.sanctum {
    background-image: url("https://raid.subcreation.net/images/raids/sanctum-of-domination-small.jpg");
}

.fated.sepulcher {
    background-image: url("https://raid.subcreation.net/images/raids/sepulcher-of-the-first-ones-small.jpg");
}

.zoom-icon img {
    border: solid 1px black;
    border-radius: 4px;
}

img.zoom-icon {
    border: solid 1px black;
    border-radius: 4px;
}
