
.comp {
    color:black;
}
             

.Hunter {
    background-color: #A9D271;
}

.Demon {
    background-color: #A330C9;
}

.Death {
    background-color: #C41F3B;
}

.Druid {
    background-color: #FF7D0A;
}

.Mage {
    background-color: #40C7EB;
}

.Monk {
    background-color: #00FF96;
}

.Paladin {
  background-color: #ffbfed;
}

.Priest {
 background-color: #ffffff;
}

.Rogue {
    background-color: #FFF569;
}

.Shaman {
    background-color: #0070DE;
}

.Warlock {
    background-color: #8787ED;
}

.Warrior {
    background-color: #C79C6E;
}

.legendary {
    background-color: #ff8000;
}

.epic {
    background-color: #a335ee;
}

.rare {
    background-color: #0070dd;
}

.uncommon {
    background-color: #1eff00;
}

.common {
    background-color: #ffffff;
}

.poor {
    background-color: #9d9d9d;
}

td.tier {
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    color: black;
    width: 28px;
    height: 81px;    
}

.innertier {
    text-align: center;
    vertical-align: middle;
    display:inline-block;
    width: 65px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}


/* bootstrap additions */

.bd-footer {
    font-size: .875rem;
    text-align: center;
    background-color: #111;
}

.bd-footer a {
    font-weight: 600;
    color: #495057;
}

.bd-footer a:focus,.bd-footer a:hover {
    color: #007bff;
}

.bd-footer p {
    margin-bottom: 0;
}

@media (min-width:576px) {
    .bd-footer {
        text-align: left;
    }
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.bd-footer-links li {
    display: inline-block;
}

.bd-footer-links li+li {
    margin-left: 1rem;
}

a {
    color: #3498DB;
    background-color: transparent;
}

a:hover {
    color: #007bff;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

.active {
    font-weight: bold;
}

.dropdown-menu.show[aria-labelledby="navbarSpecs"] {
	display: flex;
	width: 500px;
	flex-wrap: wrap;
}

.dropdown-menu.show[aria-labelledby="navbarSpecs"] .dropdown-item {
	  width: 50%;
}

a.class-color {
    text-decoration: underline;
    color: black;
}

a.class-color:hover {
    text-decoration: underline;
    color: #007bff;
}

.raid-role {
    text-align: center;
    vertical-align: top;
    display:inline-block;
    width: 130px;
    font-size: 0.85em;
}


/* ty to sanoks for the boss map */

.boss-map-container {
    position: relative;
}
.boss-map-container .modal-content, .boss-map-big-container .card-body {
    background-color: transparent !important;
    border: none !important;
}
.boss-map-container .boss-map {
    max-height: 100px;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.4);
    border-radius: 5px;
    cursor: pointer;
}
.boss-map-big-container .boss-map-big {
    margin: -.3rem 10px 0px;
    border-radius: 5px;
    max-width: 100%;
}
.boss-title {
    clear: right;
}
.raid-title {
    margin-top: 75px;
}
.boss-nav li {
}
.boss-nav li .boss-icon {
}
.boss-nav li img {
    border-radius: 5px;
}
.boss-nav li {
}
.boss-nav li.active img, .boss-nav li:hover img {
    box-shadow: 0px 0px 5px 4px rgba(255,255,255,0.4);
}
.boss-nav li a.active, .boss-nav li a:hover {
}
.boss-nav li span {
}
.boss-tabs {
    position: relative;
    margin-top: 20px;
}
.boss-tabs .nav-tabs {
    border:none;
}
.boss-tabs .nav-tabs a {
    color: #bfbfbf!important;
    margin-right: 5px;
    border-color: #212121;
    background-color: rgba(48,48,48,0.6) !important;
    border-top-right-radius: .25rem;
}
.boss-tabs .nav-tabs a.active, .boss-tabs .nav-tabs a:hover {
    color: #f8f9fa!important;
    background-color: #303030!important;
    border-top-right-radius: .25rem;
}
.toggle-map-btn {
    position: absolute;
    right: 15px;
    z-index: 1;
}
.bosses .container {
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.4);
}
.bosses .spec-cards {
    min-width: 50%;
}
.bosses .card {
    border: none;
    border-radius: 0;
    min-width: 30%;
}
.bosses .card-body {
    padding: 1.25rem 0;
    border-radius: 0;
}

.icon-with-text {
    position: relative;
}

.text-on-icon {
    color: white;
    font-size: 1.4em;

    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    
    text-align: right;
    
    position: absolute;
    bottom: -3px;
    right: 7px;
    width: 100%;
}

.spec-icon {
    font-size: 1.05em;
}
