{% extends "unified-base.html" %}
{% set page_type = "raid-index" %}

{% block content %}
{% import 'raid_role.html' as raid_role %}

<p />

{% import 'raid-boss-bar.html' as raid_boss_bar %}
{{ raid_boss_bar.raid_boss_bar(prefix=prefix, raid_canonical_order=raid_canonical_order, raid_short_names=raid_short_names, spec_slug="", encounter=encounter, encounter_slug=encounter_slug, encounter_slugs=encounter_slugs, difficulty=difficulty, max_raid_difficulty=max_raid_difficulty, fated_raid=fated_raid, active_raid=active_raid) }}


  <div class="container-fluid">
    <div class="row">

{% import 'raid_tier_list.html' as raid_tier_list %}
{{ raid_tier_list.raid_tier_list("Melee", "Melee", "melee", meleetl, encounter, encounter_slug,  role_package, prefix, affixes_slug, current_season, spec_stats["Melee"], difficulty, raid_ignore, active_raid) }}
{{ raid_tier_list.raid_tier_list("Ranged", "Ranged", "ranged", rangedtl, encounter, encounter_slug,  role_package, prefix, affixes_slug, current_season, spec_stats["Ranged"], difficulty, raid_ignore, active_raid) }}
{{ raid_tier_list.raid_tier_list("Tanks", "Tank", "tanks", tankstl, encounter, encounter_slug,  role_package, prefix, affixes_slug, current_season, spec_stats["Tanks"], difficulty, raid_ignore, active_raid) }}
{{ raid_tier_list.raid_tier_list("Healers", "Healer", "healers", healerstl, encounter, encounter_slug,  role_package, prefix, affixes_slug, current_season, spec_stats["Healers"], difficulty, raid_ignore, active_raid) }}

  </div>
</div>


{% endblock content %}

{% block script %}
  function triggerStatsData(which_table) {
    var expand_me = document.querySelector(`#${which_table}-stats`);
    expand_me.addEventListener("toggle", function() {
        var details = document.querySelector(`#${which_table}-stats-details`);
        $(`#${which_table}-stats-details`).load(`{{prefix}}raid-stats-{%if active_raid !="nathria"%}{{active_raid}}-{%endif%}{{encounter_slug}}{% if difficulty == "Heroic" %}-heroic{% endif %}.html #data-${which_table}-stats`, function() {
            $('[data-toggle="popover"]').popover({container: 'body'})
            new Tablesort(document.getElementById(`table-${which_table}-stats`));
        });
    });
  } 

triggerStatsData("melee");
triggerStatsData("ranged");
triggerStatsData("tanks");
triggerStatsData("healers");
{% endblock script %}
