{% macro spec_overview_table(sizing, title, heading, data, lookup, lookup_type, n_parses, offset_first="", offset_at = [0], anchor_id="", expanded="true", metric="dps", enchant_mapping = {}, talent_string = None, common_talents = None, talent_metadata = None) -%}
{% import 'talent_display.html' as td %}
<div class="{{sizing}} py-3">
  <a name="#{{anchor_id}}" class="anchor">
    <h3 id="{{anchor_id}}" class="anchor">{{title}}</h3>
  </a>
  <div class="collapse multi-collapse{% if expanded=="true" %} show{% endif %}" id="collapse-{{anchor_id}}">
    <table class="table table-secondary spec_table table-responsive-md">
       {% if common_talents is not none %}
      <tr>
        <td style="font-weight: 200;">Talents shared among all these builds:<br/>
          {% if anchor_id == "full_tree" or anchor_id == "class_tree" %}                  
          {{ td.talent_display(common_talents, lookup, talent_metadata, "class") }}
          {% endif %}
          {% if anchor_id == "full_tree" %}
          &nbsp;&nbsp;&nbsp;&parallel;&nbsp;&nbsp;&nbsp;<br/>
          {% endif %}
          {% if anchor_id == "full_tree" or anchor_id == "spec_tree" %}                          
          {{ td.talent_display(common_talents, lookup, talent_metadata, "spec")}}
          {% endif %}
        </td>
      </tr>
      {% endif %}
      </table>
    
  <table class="table table-striped sort spec_table table-responsive-md table-hover" id="table-spec-{{anchor_id}}">
    <thead>
      <tr>
        <th class="spec_icons">{{heading}}</th>
        <th class="spec_max">max {{metric}}</th>
        <th class="spec_counts">Overall % (n)</th>
      </tr>
    </thead>
    <tbody>
  
    {% for (frequency, build, popover) in data %}
    <tr>
      <td>
        {% if lookup_type == "talent" %}
        {% if common_talents is not none %}
        {% if build|length == 0 %}
        (only) Shared Talents &nbsp;
        {% endif %}
        {% endif %}
        {% if anchor_id == "full_tree" or anchor_id == "class_tree" %}
        {{ td.talent_display(build, lookup, talent_metadata, "class") }}
        {% endif %}
        {% if anchor_id == "full_tree" %}        
        &nbsp;&nbsp;&nbsp;&parallel;&nbsp;&nbsp;&nbsp;
        {% endif %}
        {% if anchor_id == "full_tree" or anchor_id == "spec_tree" %}                
        {{ td.talent_display(build, lookup, talent_metadata, "spec") }}
        {% endif %}
          {% if talent_string != None %}
        {% if talent_string[loop.index0] != "" %}
        &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-outline-info" title="talent string for import in-game" onclick="window.prompt('Here\'s a talent string you can import in-game:', '{{talent_string[loop.index0]}}')">copy</button>
          <a class="btn btn-outline-info btn-sm" target='_blank' title="open wowhead talent calculator" href="https://www.wowhead.com/talent-calc/blizzard/{{talent_string[loop.index0]}}">calc &UpperRightArrow;</a>
          {% endif %}
          {% endif %}
        {% else %}
        {% for k in build %}
        {% if lookup_type == "enchant" %}
        {% if lookup[k][0] in enchant_mapping %}
        {% if "id" in enchant_mapping[lookup[k][0]] %} 
        <a href="https://www.wowhead.com/item={{enchant_mapping[lookup[k][0]]["id"]}}" data-wh-icon-size="tiny">{{enchant_mapping[lookup[k][0]]["name"]}}&nbsp;
        </a><br/>
        {% elif "spell_id" in enchant_mapping[lookup[k][0]] %}
        <a href="https://www.wowhead.com/spell={{enchant_mapping[lookup[k][0]]["spell_id"]}}" data-wh-icon-size="tiny">{{enchant_mapping[lookup[k][0]]["name"]}}&nbsp;
          {% if "quality" in enchant_mapping[lookup[k][0]] %}
          <img src="images/items/tier{{enchant_mapping[lookup[k][0]]["quality"]}}.png" height="22" width="22" style="box-shadow: none"/>
          {% endif %}</a><br/>
        {% endif %}
        {% else %}
        (unknown enchant: {{lookup[k][0]}})<br/>
        {% endif %}
        {% elif lookup_type == "soulbind" %}
        {% if loop.index0 == 1 %}
        <img src="https://subcreation.net/images/soulbinds/{{lookup[k][0]}}.jpg" width="36" height="36" title="{{lookup[k][1]}}" alt="{{lookup[k][1]}}">
        {% else %}
        <a href="https://www.wowhead.com/spell={{lookup[k][0]}}"></a>
        {% endif %}
        {% elif lookup_type == "covenant" %}
        <a href="https://www.wowhead.com/spell={{lookup[k]}}" title="{{lookup[k]}}"></a>
        {% elif lookup_type == "talent" %}
        <a href="https://www.wowhead.com/spell={{lookup[k]}}"></a>
        {% else %}
        {% if k in lookup %}
        <a href="https://www.wowhead.com/{{lookup_type}}={{lookup[k][0]}}"></a>
        {% endif %}
        {% endif %}
        {% if loop.index0 in offset_at %}
        {{offset_first}}
        {% endif %}
        {% endfor %}
        {% endif %}
      </td>
      <td>
        {% if popover|length > 0 %}
        {% set fight_id = popover[0][4] %}
        {% set report_id = popover[0][3] %}
        {% set link_text = popover[0][2] %}
        <a href='https://www.warcraftlogs.com/reports/{{report_id}}#fight={{fight_id}}' target='_blank'>{{link_text}}</a>
        {% endif %}
      </td>
      <td>
        {{ "%.2f%% (%d)" % ((frequency/n_parses*100), frequency) }}
      </td>        
    </tr>
    {% endfor %}

    </tbody>
  </table>
  <script>
    new Tablesort(document.getElementById('table-spec-{{anchor_id}}'))
  </script>
  </div>
</div>

{%- endmacro %}
