<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-dismissible alert-info" style="margin-top: 16px; margin-bottom: 0;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Welcome to Shadowlands Mythic+ Season 1 and Castle Nathria</h4>
        <p class="mb-0">The Mythic+ season and Castle Nathria raid are brand new, so data are limited for now. More data will show up as more people run keys and defeat bosses. Please share any suggestions for things you'd like to see, or report any bugs you come across, in the <b><a href="https://discord.gg/X8dyq67" target="_blank">Discord</a></b>. Thank you! --alcaras</p>
      </div>
    </div>
  </div>
</div>
