<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-dismissible alert-info" style="margin-top: 16px; margin-bottom: 0;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Welcome to 9.1!</h4>
          <ul>
            <li>Subcreation will update for Sanctum of Domination, Mythic+ Season 2: Tormented, and PvP Season 2 on or before <b>Saturday, July 10th</b></li>
            <li>Here's <b><a href="https://gist.github.com/alcaras/038a52a9d6cf14dc5bee19565c7662fb">a todolist / simple checklist</a></b> for first few weeks of the patch</li>
            <li>Share any suggestions for things you'd like to see, or report any bugs you come across, in the <b><a href="https://discord.gg/X8dyq67" target="_blank">Discord</a></b></li>
            <li>You can <b><a href="https://www.patreon.com/subcreation">support the site via Patreon</a></b>; support from Patrons keeps this site operational and updating regularly</li>
            <ul>
      </div>
    </div>
  </div>
</div>

