<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-3">
      <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Waiting for Shadowlands Mythic+ and Castle Nathria to open</h4>
        <p class="mb-0">Subcreation awaits the opening of Shadowlands Mythic+ Season 1 and Castle Nathria. Targeting for the site to be back by <b>Saturday, December 12th</b>, if not sooner. Until then, pre-patch data will continue to be shown. If you'd like to support the site, you can do so via <a href="https://www.patreon.com/subcreation">Patreon</a>. Enjoy the first two weeks of the Shadowlands! --alcaras</p>
      </div>
    </div>
  </div>
</div>
