<!DOCTYPE html>
<html>
<head>
<title>{{title}} - Subcreation Mythic+</title>
<link href='css/subc.css' rel='stylesheet'>
<link href='css/tablesort.css' rel='stylesheet'>
<script src='js/tablesort.js'></script>
<script src='js/sorts/tablesort.number.js'></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-272864-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-272864-13');
</script>
</head>
<body>
{% block content %}{% endblock %}
<hr />
<address>
Subcreation Mythic+ provides statistical analysis of Mythic+ dungeons in World of Warcraft, using the <a href="http://raider.io">raider.io</a> API. Updates every four hours. Last updated: {{last_updated}}. <a href="https://github.com/alcaras/mplus.subcreation.net">Source code</a>. 
</address>
</body>
</html>
