<!DOCTYPE html>
<html>
<head>
<title>{{title}} - Subcreation Mythic+</title>
<link href='css/subc.css' rel='stylesheet'>
<link href='css/tablesort.css' rel='stylesheet'>
<script src='js/tablesort.js'></script>
<script src='js/sorts/tablesort.number.js'></script>
</head>
<body>
{% block content %}{% endblock %}
<hr />
<address>
Subcreation Mythic+ provides statistical analysis of Mythic+ dungeons in World of Warcraft, using the <a href="http://raider.io">raider.io</a> API. Last updated: {{last_updated}}.
</address>
</body>
</html>
