{% set page_type = "affixes" %}
{% set active_page = affixes_slug_special %}
{% extends "base.html" %}
{% block content %}

{% set current_season = "season-bfa-4" %}

{% import 'tier_list.html' as tier_list %}
{% import 'max_link.html' as max_link %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-3">
      <h1>{{pretty_affixes_large}}</h1>
    </div>
</div>

  <div class="row">
  {% if affixes == "All Affixes" %}

        <div class="col-xl-4 col-lg-6 py-3">
          <h2>Affixes Ease Tier List</h2>
          <p><b>All Affixes</b></p>
{{ tier_list.tier_list(aftl) }}

<details>
  <summary>Detailed statistical analysis (by affixes)</summary>
<div class="container-fluid">

<table class="sort table table-striped " id="table-afdd">
<tr data-sort-method='none'>
<th>lb_ci</th>
<th>Affixes</th>
<th>x&#772;</th>
<th>max</th>
<th>n</th>
</tr>
{% for (score, indiv_affix, mean, n, dungeon_slug, max_f, max_id, max_level) in affixes_report %}
<tr>
<td>{{score}}</td>
<td>{{indiv_affix}}</td>
<td>{{mean}}</td>
{{ max_link.max_link(max_f, max_id, max_level, season=current_season) }}
<td>{{n}}</td>
</tr>
{% endfor %}
</table>
<script>
  new Tablesort(document.getElementById('table-afdd'));
</script>

<p>
<i>lb_ci = Lower bound of a 95% confidence interval of the average <a href="https://support.raider.io/kb/frequently-asked-questions/what-is-the-base-score-value-for-each-level-keystone">raider.io score</a> for each spec, based on the top 100 runs for each dungeon, across all regions, for each set of affixes. For affixes, higher scores indicates affixes are relatively easier. (Other factors, e.g. gear acquisition, particularly early in a season, may also contribute to relative difficulty).</i>
</p>
</div>
</details>
</div>

        {% endif %}
        

<div class="col-xl-4 col-lg-6 py-3">
  <h2>Dungeon Ease Tier List</h2>
<p><b class="affixes">{{pretty_affixes}}</b></p>

{{ tier_list.tier_list(dtl) }}

<details>
   <summary>Detailed statistical analysis (by dungeon)</summary>
<div class="container-fluid">
<table class="sort table table-striped" id="table-rdd">
<tr data-sort-method='none'>
<th>lb_ci</th>
<th>Dungeon</th>
<th>x&#772;</th>
<th>max</th>
<th>n</th>
</tr>
{% for (score, dungeon, mean, n, dungeon_slug, max_f, max_id, max_level) in dungeons %}
<tr>
<td>{{score}}</td>
<td>{{dungeon}}</td>
<td>{{mean}}</td>
{{ max_link.max_link(max_f, max_id, max_level, season=current_season) }}
<td>{{n}}</td>
</tr>
{% endfor %}
</table>
<script>
  new Tablesort(document.getElementById('table-rdd'));
</script>

<p>
<i>lb_ci = Lower bound of a 95% confidence interval of the average <a href="https://support.raider.io/kb/frequently-asked-questions/what-is-the-base-score-value-for-each-level-keystone">raider.io score</a> for each spec, based on the top 100 runs for each dungeon, across all regions with these affixes. For dungeons, a higher score indicates more challenging versions of the dungeon are being completed. For an equivalent key, a dungeon with a higher score is relatively easier than a dungeon with a lower score.</i>
</p>
</div>
</details>
</div>


{% import 'spec_tier_list.html' as spec_tier_list %}
{{ spec_tier_list.spec_tier_list("Tanks", "Tank", "tanks", tankstl, pretty_affixes, role_package, prefix, affixes_slug) }}
{{ spec_tier_list.spec_tier_list("Healers", "Healer", "healers", healerstl, pretty_affixes, role_package, prefix, affixes_slug) }}
{{ spec_tier_list.spec_tier_list("Melee", "Melee", "melee", meleetl, pretty_affixes, role_package, prefix, affixes_slug) }}
{{ spec_tier_list.spec_tier_list("Ranged", "Ranged", "ranged", rangedtl, pretty_affixes, role_package, prefix, affixes_slug) }}


<div class="col-12 py-3">
  <h2>Team Compositions</h2>
<details>
  <summary>Detailed team composition analysis (full group)</summary>
  
<div>
<table class="sort table table-striped" id="table-csd">
<tr data-sort-method='none'>
<th>lb_ci</th>
<th>Tank</th>
<th>Healer</th>
<th>DPS</th>
<th>DPS</th>
<th>DPS</th>
<th>x&#772;</th>
<th>max</th>
<th>n</th>
</tr>
{% for (score, comp, mean, n, max_f, max_id, max_level) in sets %}
<tr>
<td>{{score}}</td>
{{comp}}
<td>{{mean}}</td>
{{ max_link.max_link(max_f, max_id, max_level, season=current_season) }}
<td>{{n}}</td>
</tr>
{% endfor %}
</table>
<script>
  new Tablesort(document.getElementById('table-csd'));
</script>
</p>
</div>

<div>
<p>
<i>lb_ci = Lower bound of a 95% confidence interval of the average <a href="https://support.raider.io/kb/frequently-asked-questions/what-is-the-base-score-value-for-each-level-keystone">raider.io score</a> for each spec, based on the top 100 runs for each dungeon, across all regions with these affixes. For comps, higher is better.</i>
</p>
</div>
</details>

<details>
  <summary>Detailed team composition analysis (tank+healer)</summary>
  
<div>
<table class="sort table table-striped" id="table-thd">
<tr data-sort-method='none'>
<th>lb_ci</th>
<th>Tank</th>
<th>Healer</th>
<th>x&#772;</th>
<th>max</th>
<th>n</th>
</tr>
{% for (score, comp, mean, n, max_f, max_id, max_level) in sets_th %}
<tr>
<td>{{score}}</td>
{{comp}}
<td>{{mean}}</td>
{{ max_link.max_link(max_f, max_id, max_level, season=current_season) }}
<td>{{n}}</td>
</tr>
{% endfor %}
</table>
<script>
  new Tablesort(document.getElementById('table-thd'));
</script>
</p>
</div>

<div>
<p>
<i>lb_ci = Lower bound of a 95% confidence interval of the average <a href="https://support.raider.io/kb/frequently-asked-questions/what-is-the-base-score-value-for-each-level-keystone">raider.io score</a> for each spec, based on the top 100 runs for each dungeon, across all regions with these affixes. For comps, higher is better.</i>
</p>
</div>
</details>

<details>
  <summary>Detailed team composition analysis (dps)</summary>
  <div>
<table class="sort table table-striped" id="table-dpsd">
<tr data-sort-method='none'>
<th>lb_ci</th>
<th>DPS</th>
<th>DPS</th>
<th>DPS</th>
<th>x&#772;</th>
<th>max</th>
<th>n</th>
</tr>
{% for (score, comp, mean, n, max_f, max_id, max_level) in sets_dps %}
<tr>
<td>{{score}}</td>
{{comp}}
<td>{{mean}}</td>
{{ max_link.max_link(max_f, max_id, max_level, season=current_season) }}
<td>{{n}}</td>
</tr>
{% endfor %}
</table>
<script>
  new Tablesort(document.getElementById('table-dpsd'));
</script>
</p>
</div>


<div>
<p>
<i>lb_ci = Lower bound of a 95% confidence interval of the average <a href="https://support.raider.io/kb/frequently-asked-questions/what-is-the-base-score-value-for-each-level-keystone">raider.io score</a> for each spec, based on the top 100 runs for each dungeon, across all regions with these affixes. For comps, higher is better.</i>
</p>
</div>
</details>

</div>
</div>
</div>

{% endblock content %}
