{% extends "base.html" %}
{% block content %}
<h1>Subcreation Mythic+</h1>
{% if dungeon == "" %}
<h2>Dungeon Difficulty: <a href="/{{prefix}}{{affixes_slug_special}}.html">{{affixes}}</a></h2>
{% else %}
<h2>{{dungeon}}: <a href="/{{prefix}}{{affixes_slug_special}}.html">{{affixes}}</a></h2>
{% endif %}
<div class="container flex-direction">
<div>
<table class="sort" id="table-rdd">
<tr data-sort-method='none'>
<th>lb_ci</th>
<th>Dungeon</a></th>
<th>Mean</th>
<th>n</th>
</tr>
{% for (score, dung, mean, n, ds) in dungeons %}
<tr>
<td>{{score}}</td>
{% if dungeon == dung %}
<td><b>{{dung}}</b></td>
{% else %}
<td><a href="/{{prefix}}{{ds}}-{{affixes_slug}}.html">{{dung}}</a></td>
{% endif %}
<td>{{mean}}</td>
<td>{{n}}</td>
</tr>
{% endfor %}
</table>
<script>
  new Tablesort(document.getElementById('table-rdd'));
</script>
</p>
</div>
<div>
<ul>
{% for (name, slug) in known_affixes %}
{% if name == affixes %}
<li><b>{{name}}</b></li>
{% else %}
<li><a href="{{slug}}.html">{{name}}</a></li>
{% endif %}
{% endfor %}
</ul>
</div>
</div>

{% import 'spec_table.html' as st %}

<h2>Spec Pairing Strength with {{spec}}: {{dungeon}} {{affixes}}</h2>
<div class="container flex-direction">
{{ st.spec_table("Tanks", role_package["Tanks"], prefix, affixes_slug, dungeon_slug) }}
{{ st.spec_table("Healers", role_package["Healers"], prefix, affixes_slug, dungeon_slug) }}
</div>
<div class="container flex-direction">
{{ st.spec_table("Melee", role_package["Melee"], prefix, affixes_slug, dungeon_slug) }}
{{ st.spec_table("Ranged", role_package["Ranged"], prefix, affixes_slug, dungeon_slug) }}
</div>

<p>
<i>lb_ci = Lower bound of a 95% confidence interval of the average raider.io score for each spec, based on top 20 runs of {{dungeon}}, across all regions with these affixes. Higher is better.</i>
</p>

{% endblock content %}
