{% set page_type = "affixes" %}
{% set active_page = affixes_slug_special %}
{% extends "unified-base.html" %}
{% block content %}

{% set current_season = "season-sl-4" %}

{% import 'tier_list.html' as tier_list %}
{% import 'max_link.html' as max_link %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-3">
      <h1><a href="{{prefix}}{{affixes_slug_special}}.html">{{pretty_affixes_large}}</a></h1>      
    </div>
</div>


  <div class="col-12 py-3">
    
    <h2>Compositions</h2>

    <p>
      <b>Disclaimer</b>: Please note these compositions are only based on the top 100 runs per dungeon per region per affix set. They may not be representative of the larger meta. Take with a grain of salt.
    </p>

    <ul>
      <li><a href="#full-group">Full group</a></li>
      <li><a href="#tank-healer">Tank+Healer</a></li>
      <li><a href="#dps">DPS</a>      </li>
    </ul>

    
  <h3 id="full-group">Detailed composition analysis (full group)</h3>
  
<div>
<table class="sort table table-striped" id="table-csd">
<tr data-sort-method='none'>
<th>Tank</th>
<th>Healer</th>
<th>DPS</th>
<th>DPS</th>
<th>DPS</th>
<th>max</th>
<th>n</th>
</tr>
{% for (score, comp, mean, n, max_f, max_id, max_level, all_runs) in sets %}
<tr>
{{comp}}
{{ max_link.max_link(max_f, max_id, max_level, current_season) }}
<td>{{n}}</td>
</tr>
{% endfor %}
</table>
<script>
  new Tablesort(document.getElementById('table-csd'));
</script>
</p>
</div>

<h3 id="tank-healer">Detailed team composition analysis (tank+healer)</h3>
  
<div>
<table class="sort table table-striped" id="table-thd">
<tr data-sort-method='none'>
<th>Tank</th>
<th>Healer</th>
<th>max</th>
<th>n</th>
</tr>
{% for (score, comp, mean, n, max_f, max_id, max_level, all_runs) in sets_th %}
<tr>
{{comp}}
{{ max_link.max_link(max_f, max_id, max_level, current_season) }}
<td>{{n}}</td>
</tr>
{% endfor %}
</table>
<script>
  new Tablesort(document.getElementById('table-thd'));
</script>
</p>
</div>

<h3 id="dps">Detailed team composition analysis (dps)</h3>
  <div>
<table class="sort table table-striped" id="table-dpsd">
<tr data-sort-method='none'>
<th>DPS</th>
<th>DPS</th>
<th>DPS</th>
<th>max</th>
<th>n</th>
</tr>
{% for (score, comp, mean, n, max_f, max_id, max_level, all_runs) in sets_dps %}
<tr>
{{comp}}
{{ max_link.max_link(max_f, max_id, max_level, current_season) }}
<td>{{n}}</td>
</tr>
{% endfor %}
</table>
<script>
  new Tablesort(document.getElementById('table-dpsd'));
</script>
</p>
</div>


</div>
</div>
</div>

{% endblock content %}
