{% macro covenant_report(plural, single, anchor, data, m_data, r_data, prefix) -%}
<div class="col-lg-6 py-2">
  <h2>{{single}} Top Covenants</h2>

    <table class="table table-striped sort spec_table" id="table-spec-{{anchor_id}}">
    <thead>
      <tr style="text-align: center;">
        <th width="60" style="text-align: left;">Spec</th>
        <th colspan="4" >Top M+ Covenant(s)</th>
        <th colspan="4" style="text-align: center;">Top Raid Covenant(s)</th>
      </tr>
    </thead>
    <thead>
      <tr style="text-align: center;">
        <th width="60" style="text-align: left;"></th>
        <th><img src="images/covenants/kyrian.jpg" width="36" height="36" alt="M+ - Kyrian"></th>
        <th><img src="images/covenants/necrolord.jpg" width="36" height="36" alt="M+ - Necrolord"></th>
        <th><img src="images/covenants/night-fae.jpg" width="36" height="36" alt="M+ - Night Fae"></th>
        <th><img src="images/covenants/venthyr.jpg" width="36" height="36" alt="M+ - Venthyr"></th>
        <th><img src="images/covenants/kyrian.jpg" width="36" height="36" alt="Raid - Kyrian"></th>
        <th><img src="images/covenants/necrolord.jpg" width="36" height="36" alt="Raid - Necrolord"></th>
        <th><img src="images/covenants/night-fae.jpg" width="36" height="36" alt="Raid - Night Fae"></th>
        <th><img src="images/covenants/venthyr.jpg" width="36" height="36" alt="Raid - Venthyr"></th>        
      </tr>
    </thead>    
    <tbody style="text-align: center; style="vertical-align: middle;"">
      {% for (spec, mplus, raid) in data %}
    <tr>
      <td style="text-align: left;">
        <img src="images/specs/{{spec["slug"]}}.jpg" width="36" height="36">
      </td>

      {% if mplus["name"] == "" %}
      <td colspan="4">
        Not enough <a href="https://mplus.subcreation.net/{{spec["slug"]}}.html">data</a>.
      </td>
      {% else %}
      
      {% for cov in ["Kyrian", "Necrolord", "Night Fae", "Venthyr"] %}
      <td style="vertical-align: middle;">
        {% if cov in m_data[spec["name"]] %}
        {% if m_data[spec["name"]][cov][0] >= 40 %}
        <b>
          {% endif %}
        {% if m_data[spec["name"]][cov][0] < 5 %}
        <i>
          {% endif %}
        <a href="https://mplus.subcreation.net/{{spec["slug"]}}.html#covenants" style="color: {% if m_data[spec["name"]][cov][0] >= 5 %}{{m_data[spec["name"]][cov][2]}}{% else %}gray{%endif%};">{%if m_data[spec["name"]][cov][0]==0%}{%else%}{{m_data[spec["name"]][cov][0]}}%{%endif%}</a>
        {% if m_data[spec["name"]][cov][0] >= 40 %}
        </b>
        {% endif %}
        {% if m_data[spec["name"]][cov][0] < 5 %}
        </i>
        {% endif %}         
        {% endif %}         
      </td>
      {% endfor %}
      
      
      {% endif %}      

      {% if raid["name"] == "" %}
      <td colspan="4">      
        Not enough <a href="https://castle-nathria.subcreation.net/{{spec["slug"]}}.html">data</a>.
      </td>
      {% else %}

      {% for cov in ["Kyrian", "Necrolord", "Night Fae", "Venthyr"] %}
      <td style="vertical-align: middle; {% if cov == "Kyrian" %} border-left: 1px solid gray; {% endif %}">
        {% if cov in r_data[spec["name"]] %}
        {% if r_data[spec["name"]][cov][0] >= 40 %}
        <b>
          {% endif %}
        {% if r_data[spec["name"]][cov][0] < 5 %}
        <i>
        {% endif %}          
        <a href="https://mplus.subcreation.net/{{spec["slug"]}}.html#covenants" style="color: {% if r_data[spec["name"]][cov][0] >= 5 %}{{r_data[spec["name"]][cov][2]}}{% else %}gray{%endif%};">{%if r_data[spec["name"]][cov][0]==0%}{%else%}{{r_data[spec["name"]][cov][0]}}%{%endif%}</a>
        {% if r_data[spec["name"]][cov][0] >= 40 %}
        </b>
        {% endif %}
        {% if r_data[spec["name"]][cov][0] < 5 %}
        </i>
        {% endif %}         
        {% endif %}        
      </td>      
      {% endfor %}      

      {% endif %}   
    </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>
{%- endmacro %}
