{% extends "unified-base.html" %}
{% set page_type = "main-index" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
  <div class="col-xl-1 col-lg-1">
  </div>    
    <div class="col-xl-6 col-lg-8" style="line-height: 1.5;  max-width: 40em;">
      <h1>Frequently Asked Questions</h1>
      
<h2 id="what-do-the-tier-lists-mean-">What do the tier lists mean?</h2>
<p>S-Tier is the best. For dungeons, that means that dungeon is <b>easier</b> compared to others. For specs, that means that spec is <strong>stronger</strong>. S-Tier is better than A-Tier which is better than B, which is better than C, and so on.</p>
<h2 id="mplus">What&#39;s the lb_ci mean under detailed statistical analysis?</h2>
<p>lb_ci stands for the lower bound of a 95% <a href="https://en.wikipedia.org/wiki/Confidence_interval">confidence interval</a>. Here&#39;s the site calculates it:</p>
<p>For specs: The site looks at the top 100 keys per dungeon per affix across all region and examine their <a href="https://support.raider.io/kb/frequently-asked-questions/what-is-the-base-score-value-for-each-level-keystone">raider.io scores</a>. From these, for each dungeon, for each spec, the site takes the lower bound of a 95% confidence interval of the top 100 runs for each spec. The site then averages these lower bounds, one per dungeon, to get an overall average lower bound for each spec, which the site then uses to create the tier list.</p>
<p>For dungeons: We take the top 100 keys per dungeon for each region for a given affix. For each dungeon, the site calculates the lower bound of a 95% confidence interval and uses that to create the tier list.</p>
<p>For affixes: We take the top 100 keys for each dungeon for each region per affix. For each affix set, the site calculates the lower bound of a 95% confidence interval and uses that to create the tier list.</p>
<p>This approach was inspired by a pair of articles by Evan Miller:</p>
<ul>
<li><a href="https://www.evanmiller.org/how-not-to-sort-by-average-rating.html">How Not To Sort By Average Rating</a></li>
<li><a href="https://www.evanmiller.org/ranking-items-with-star-ratings.html">Ranking Items With Star Ratings</a></li>
</ul>
<p>It isn&#39;t perfect (no model is), but I&#39;ve found it gives a good sense of what the meta looks like at the top end and generally &quot;feels correct&quot; to folks. Very open to suggestions for how to make it better, if you have ideas.</p>
<h2 id="how-do-you-calculate-the-tier-lists-for-mythic-">How do you calculate the tier lists for Mythic+?</h2>
<p>The site takes the lower bounds of the 95% confidence interval calculated as per the question above and then clusters them into 6 buckets using the <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5148156/">Ckmeans</a> algorithm.</p>
<p>Note that because we&#39;re using the lower bound of the 95% confidence interval of the <strong>raider.io score</strong>, Tanks, Healers, Melee, and Ranged are all on the same scale. They&#39;re just shown separately for ease of comparison across roles.</p>
<h2 id="for-specs-why-do-you-average-across-dungeons-">For specs, why do you average across dungeons?</h2>
<p>The site didn&#39;t originally, but this resulted in specs that were used for a pull or two at the start of the dungeon showing up in S-Tier. For example, in Battle for Azeroth, mages would often play Frost for the first pull of Tol Dagor and then swap to Fire for the rest of the dungeon. But Blizzard&#39;s API only considered the spec for each class at the start of each dungeon, not the end, which resulted in Frost Mages, otherwise unplayed at the top end at the time, showing up as S-Tier. Taking the average across dungeons solved this issue.</p>
<h2 id="do-you-include-untimed-runs-">Do you include untimed runs?</h2>
<p>No, not in the tier lists.</p>
<p>That said, untimed runs are included in the Top Builds section, since the Warcraft Logs API doesn&#39;t easily distinguish between the two.</p>
<h2 id="do-you-include-abandoned-runs-">Do you include abandoned runs?</h2>
<p>No. Keys that are not completed do not show up in the API and thus the site doesn&#39;t have visibility into their existence.</p>
<h2 id="isn-t-this-approach-biased-toward-the-top-end-">Isn&#39;t this approach biased toward the top end?</h2>
<p>Yes. Because we&#39;re only looking at the top 100 keys per dungeon per affix for each region (since that&#39;s what the raider.io provides), we are necessarily biased toward the top end. We also don&#39;t look at keys below +16, and only consider timed keys.</p>
      <p>For interesting statistics on timed vs. untimed keys, please check out <a href="https://bestkeystone.com">bestkeystone.com</a>.</p>
      <h2>How do you create the Top Builds?</h2>

      <p><b>For Mythic+</b>: The site looks at the Top 500 logs for each spec, for each dungeon (completed, whether timed or note) in the last four weeks, since the last major patch. This uses <a href="https://warcraftlogs.com/" target="_blank">WarcraftLogs</a>'s API.
      <p>
        <p>Note that the site is only using <b>logged runs</b> for Top Builds, unlike the tier lists, which use all timed runs available on the raider.io API. If Mythic+ runs are not logged, they will not show up in Top Builds. The site relies only on logged runs to avoid issues where a player completes run, changes gear/talents, and then logs out.</p>

      <p><b>For Raid</b>: The site looks at the Top 500 logs for each spec for each boss in the last four weeks, since the last major patch. Once again, this uses <a href="https://warcraftlogs.com/" target="_blank">WarcraftLogs</a>'s API.</p>
<h2 id="raid">How do you calculate the tier lists for Raid?</h2>
<p>The site looks at the top 500 Mythic logs for each spec for each boss. For tanks, melee, and ranged, it considers the top dps logs. For healers, it looks at top hps logs. I am aware that dps for tanks and hps for healers is non-ideal, but don&#39;t have anything better at this time. Open to ideas here.</p>
      <p>For these top 500 Mythic logs, the site takes the lower bound of a 95% confidence interval again of the top 100 parses for each spec, on each encounter, and then, for the overall raid tier list, averages it across all bosses.</p>
      <p>Melee and Ranged DPS are on the same tier list, though displayed separately for ease of viewing. Healers are on their own tier list (since they use hps). Tanks are also on their own tier list (since tank dps is typically much lower).</p>
      <p>Note that some specs may have very few or no Mythic logs on certain bosses. These specs effectively get a &quot;0&quot; for those bosses, potentially resulting in their overall raid tier list ranking dropping.</p>

<h2 id="pvp">How do you calculate the tier lists for Rated PvP?</h2>

      <p>The site looks at the top leaderboard entries for each mode of PvP, via an API graciously provided by <a href="https://luduslabs.org/">Ludus Labs</a>. It only considers rating, so effectively tanks, healers, melee, and ranged are on the same tier list.</p>
      <p>For these top leaderboard entries, the site takes the lower bound of a 95% confidence interval of the top 100 leaderboard entries for each spec, and then, for the overall pvp tier list, averages it across all forms of rated PvP.</p>

      <p>For the "All Rated PvP Modes" view, the site uses a <b>normalized rating</b> so that the difference in ratings between modes doesn't skew results in favor of the mode with the highest ratings. For lower bounds for each mode are normalized and averaged to produce the lower bound for the "All Rated PvP Modes" view. The intent is for this view to provide an at a glance reference as to which specs are strong across all rated PvP modes.</p>

      <h3>Potential Issues and Caveats</h3>

      <p><b>"Logged out in a different spec"</b> -- Please note that the leaderboard entries provided by Blizzard only indicate the player's current spec, not the necessarily the spec they played for Rated PvP. Thus you may see certain specs as unusually high in the tier list if players play that spec for PvE and log out in that spec, thus showing up on the leaderboard for that spec. For example, Fury has historically not been great in PvP but Arms has been, so if a Fury warrior is showing on the leaderboard, it may be because it is actually an Arms warrior that was Fury for PvE and logged out in that spec. Similar issues exist with other specs, for example, Havoc/Vengeance DH -- DHs may play RBGs as Vengeance but logout as Havoc.</p>

      <p><b>Inactive but high rating</b> -- The leaderboard doesn't filter out players who aren't actively playing. A player could have reached a high rating on a spec and then abandoned that character. This may result in some specs having higher than expected representations, particularly after nerfs.</p>


<h2 id="archives">Where can I find data from old seasons?</h2>

Here are links to archives for previous seasons and raids. Please note these are no longer updated and may appear visually different from the current version of the site, as they're snapshots as the site existed back then.

<h3>Mythic+ Archives</h3>
<ul>
  <li><a href="https://mplus.subcreation.net/sl-s4/">Shadowlands Mythic+ Season 4 (Shrouded)</a>
  <li><a href="https://mplus.subcreation.net/sl-s3/">Shadowlands Mythic+ Season 3 (Encrypted)</a>
  <li><a href="https://mplus.subcreation.net/sl-s2/">Shadowlands Mythic+ Season 2 (Tormented)</a>
  <li><a href="https://mplus.subcreation.net/sl-s1/">Shadowlands Mythic+ Season 1 (Prideful)</a>
  <li><a href="https://mplus.subcreation.net/s4/">Battle for Azeroth Mythic+ Season 4 (Awakened)</a>
  <li><a href="https://mplus.subcreation.net/s3/">Battle for Azeroth Mythic+ Season 3 (Beguiling)</a>
  <li><a href="https://mplus.subcreation.net/s2/">Battle for Azeroth Mythic+ Season 2 (Reaping)</a>
  <li><a href="https://docs.google.com/spreadsheets/d/1kvWgszCR6LIbhywIvBFOttTZKIOI1A8_LO7jl2fmB60/edit">Manually-created spreadsheet ranking each spec / class across Mythic+ seasons</a>
</ul>

<h3>Raid Archives</h3>
<ul>
  <li><a href="https://raid.subcreation.net/sl-s4/">Shadowlands Fated Raids</a>    
  <li><a href="https://raid.subcreation.net/sl-s3/">Sepulcher of the First Ones</a>    
  <li><a href="https://raid.subcreation.net/sl-s2/">Sanctum of Domination</a>  
  <li><a href="https://castle-nathria.subcreation.net">Castle Nathria</a>
  <li><a href="https://nyalotha.subcreation.net/">Ny'alotha</a>
</ul>

<h3>PvP Archives</h3>
<ul>
  <li><a href="https://pvp.subcreation.net/sl-s4/">Shadowlands PvP Season 4</a>    
  <li><a href="https://pvp.subcreation.net/sl-s3/">Shadowlands PvP Season 3</a>    
  <li><a href="https://pvp.subcreation.net/sl-s2/">Shadowlands PvP Season 2</a>  
  <li><a href="https://pvp.subcreation.net/sl-s1/">Shadowlands PvP Season 1</a>
</ul>

<h2 id="how-support">I love Subcreation. How can I support the site?</h2>

      <p>
Please check out our <a href="https://patreon.com/subcreation">Patreon</a>. Thank you!        
        </p>

<h2 id="i-have-more-questions-how-can-i-reach-you-">I have more questions. How can I reach you?</h2>
<p>You can reach me at <a href="mailto:alcaras@subcreation.net">alcaras@subcreation.net</a>, on <a href="https://twitter.com/subcreation/">Twitter</a>, or in the site&#39;s <a href="https://discord.com/invite/X8dyq67">discord</a>.</p>
<p>The site is also open source, so feel free to take a look at the <a href="https://github.com/alcaras/mplus.subcreation.net">source</a>. Pull requests welcome.</p>



    </div>
        <div class="col-xl-4 col-lg-3">
        </div>
        </div>
</div>
{% endblock content %}
