{% extends "unified-base.html" %}
{% set page_type = "main-index" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-126 py-3">
      <h2>What is Subcreation?</h2>
      <b>Subcreation</b> analyzes leaderboards and logs from World of Warcraft to answer:
      <ul>
        <li>What's best to play? (Tier Lists)
        <li>How best to play it? (Top Builds)
      </ul>
     The site uses statistical analysis to provide a data-driven, neutral point of view. More info in the <a href="faq.html">FAQ</a>.
    </div>

    <div class="col-xl-6 col-lg-6 py-3">
      <p class="text-center">
        <h1><img src="https://mplus.subcreation.net/images/affixes/shrouded.jpg" title="Shrouded" alt="Shrouded"><a href="https://mplus.subcreation.net" class=""> Mythic+ Season 4</a></h1>
        Statistically-generated tier lists and top builds
      </p>

    </div>

    <div class="col-xl-6 col-lg-6 py-3">

      <p class="text-center">
        <h1><img src="https://raid.subcreation.net/images/bosses/sepulcher/sepulcher.jpg" title="Sepulcher of the First Ones" alt="Sepulcher of the First Ones"><a href="https://raid.subcreation.net" title="Sepulcher of the First Ones" alt="Sepulcher of the First Ones"> Sepulcher of the First Ones</a></h1>
        Statistically-generated tier lists and top builds
      </p>
      
    </div>

    <div class="col-xl-6 col-lg-6 py-3">

      <p class="text-center">
        <h1><img src="https://pvp.subcreation.net/images/modes/all.jpg" title="Rated PvP" alt="Rated PvP"><a href="https://pvp.subcreation.net" title="Rated PvP" alt="Rated PvP"> Rated PvP Season 3</a></h1>
        Statistically-generated tier lists
      </p>
      
    </div>


    <div class="col-xl-6 col-lg-6 py-3">

      <p class="text-center">
        <h1><img src="https://subcreation.net/images/covenants/night-fae.jpg" title="Top Covenants" alt="Top Covenants"><a href="https://subcreation.net/top-covenants.html" title="Rated PvP" alt="Rated PvP"> Top Covenants</a></h1>
        At-a-glance statistics about which covenants specs use in Raid and M+
      </p>
      
    </div>    
  </div>
  
 
</div>


{% endblock content %}

