{% extends "unified-base.html" %}
{% set page_type = "main-index" %}

{% block content %}

<div class="container-fluid">
  <div class="row">

    <div class="col-xl-6 col-lg-6 py-3">
      <p class="text-center">
        <h1><img src="https://mplus.subcreation.net/images/affixes/prideful.jpg" title="Prideful" alt="Prideful"><a href="https://mplus.subcreation.net" class=""> Mythic+ Season 1</a></h1>
      </p>

    </div>

    <div class="col-xl-6 col-lg-6 py-3">

      <p class="text-center">
        <h1><img src="https://castle-nathria.subcreation.net/images/bosses/castle-nathria/castle-nathria.jpg" title="Castle Nathria" alt="Castle Nathria"><a href="https://castle-nathria.subcreation.net" title="Castle Nathria" alt="Castle Nathria"> Castle Nathria</a></h1>
      </p>
      
    </div>
  </div>
  
 
</div>


{% endblock content %}

