{% extends "unified-base.html" %}
{% set page_type = "main-index" %}

{% block content %}

<div class="container-fluid">
  <div class="row">

    <div class="col-xl-4 col-lg-6 py-3">
      <p class="text-center">
        <h1><img src="https://mplus.subcreation.net/images/affixes/tormented.jpg" title="Tormented" alt="Tormented"><a href="https://mplus.subcreation.net" class=""> Mythic+ Season 2</a></h1>
      </p>

    </div>

    <div class="col-xl-4 col-lg-6 py-3">

      <p class="text-center">
        <h1><img src="https://raid.subcreation.net/images/bosses/sanctum/sanctum.jpg" title="Sanctum of Domination" alt="Sanctum of Domination"><a href="https://raid.subcreation.net" title="Sanctum of Domination" alt="Sanctum of Domination"> Sanctum of Domination</a></h1>
      </p>
      
    </div>

    <div class="col-xl-4 col-lg-6 py-3">

      <p class="text-center">
        <h1><img src="https://pvp.subcreation.net/images/modes/all.jpg" title="Rated PvP" alt="Rated PvP"><a href="https://pvp.subcreation.net" title="Rated PvP" alt="Rated PvP"> Rated PvP Season 2</a></h1>
      </p>
      
    </div>    
  </div>
  
 
</div>


{% endblock content %}

