{% extends "unified-base.html" %}
{% set page_type = "main-index" %}

{% block content %}

<div class="container-fluid">

  <div class="row">
    <div class="col-12 py-3">
      <h1>Top Covenants for <a href="https://mplus.subcreation.net">Mythic+ Season 3</a> and <A href="https://raid.subcreation.net/">Sepulcher of the First Ones</a></h1>
      <i>Based on {{n_parses["mplus"]}} top Mythic+ logs and {{n_parses["raid"]}} top Sepulcher of the First Ones parses</i>.
    </div>
  </div>

  <div class="row">
{% import 'covenant_report.html' as covenant_report %}
{{ covenant_report.covenant_report("Tanks", "Tank", "tanks", covenants["Tanks"], m_data, r_data, prefix) }}
{{ covenant_report.covenant_report("Healers", "Healer", "healers", covenants["Healers"], m_data, r_data,  prefix) }}
{{ covenant_report.covenant_report("Melee", "Melee", "melee", covenants["Melee"], m_data, r_data, prefix) }}
{{ covenant_report.covenant_report("Ranged", "Ranged", "ranged", covenants["Ranged"], m_data, r_data, prefix) }}
  </div>
  
</div>


{% endblock content %}

