{% macro navbar_main(active_section, prefix) -%}
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="https://subcreation.net/">Subcreation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_section == 'mplus' else '' }}" href="https://mplus.subcreation.net/"><img src="https://mplus.subcreation.net/images/affixes/thundering.jpg" width="20" height="20" /> Mythic+</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_section == 'raid' else '' }}" href="https://raid.subcreation.net/"><img src="https://raid.subcreation.net/images/bosses/vault/vault.jpg" width="20" height="20" /> Vault of the Incarnates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_section == 'pvp' else '' }}" href="https://pvp.subcreation.net/"><img src="https://pvp.subcreation.net/images/modes/all.jpg" width="20" height="20" /> Rated PvP</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.patreon.com/subcreation">&#10084; Support the site on Patreon</a>
      </li>
    </ul>
  </div>
 </nav>
{%- endmacro %}

{% macro navbar_main_secondary(active_section, active_page, prefix) -%}

  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_page == 'main-index' else '' }}" href="{{prefix}}index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_page == 'main-faq' else '' }}" href="{{prefix}}faq.html">FAQ</a>        
      </li>
    </ul>
   </div>
  </nav>
 
 {%- endmacro %}

{% macro navbar_top_builds(prefix, suffix, archetype, active_page, known_tanks, known_healers, known_melee, known_ranged, active_raid) -%}
 <span class="navbar-text">
   Top Builds for 
 </span>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle{% if archetype == "tank" %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Tanks
  </a>
  <div class="nav-item dropdown-menu" aria-labelledby="navbarSpecs">
    {% for (name, slug, icon) in known_tanks %}
    <a class="dropdown-item{{ ' active' if slug in active_page else '' }}" href="{{prefix}}{%if active_raid!="nathria"%}{{active_raid}}-{%endif%}{{slug}}{{suffix}}.html"><img src="images/spec-icons/{{slug}}.jpg" height="22" width="22"/> &nbsp;{{name}}</a>
          {% endfor %}
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle{% if archetype == "healer" %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Healers
  </a>
  <div class="nav-item dropdown-menu" aria-labelledby="navbarSpecs">
    {% for (name, slug, icon) in known_healers %}
    <a class="dropdown-item{{ ' active' if slug in active_page else '' }}" href="{{prefix}}{%if active_raid!="nathria"%}{{active_raid}}-{%endif%}{{slug}}{{suffix}}.html"><img src="images/spec-icons/{{slug}}.jpg" height="22" width="22"/> &nbsp;{{name}}</a>
    {% endfor %}
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle{% if archetype == "melee" %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Melee
  </a>
  <div class="nav-item dropdown-menu" aria-labelledby="navbarSpecs">
    
    {% for (name, slug, icon) in known_melee %}
    <a class="dropdown-item{{ ' active' if slug in active_page else '' }}" href="{{prefix}}{%if active_raid!="nathria"%}{{active_raid}}-{%endif%}{{slug}}{{suffix}}.html"><img src="images/spec-icons/{{slug}}.jpg" height="22" width="22"/> &nbsp;{{name}}</a>
          {% endfor %}
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle{% if archetype == "ranged" %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Ranged
  </a>
  <div class="nav-item dropdown-menu" aria-labelledby="navbarSpecs">
    {% for (name, slug, icon) in known_ranged %}
    <a class="dropdown-item{{ ' active' if slug in active_page else '' }}" href="{{prefix}}{%if active_raid!="nathria"%}{{active_raid}}-{%endif%}{{slug}}{{suffix}}.html"><img src="images/spec-icons/{{slug}}.jpg" height="22" width="22"/> &nbsp;{{name}}</a>
    {% endfor %}
  </div>
</li>
{%- endmacro %}

{% macro navbar_mplus(affixes, known_affixes, active_page, prefix, page_type, archetype, known_tanks, known_healers, known_melee, known_ranged, active_raid="nathria") -%}
 
 <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <span class="navbar-text">
       Tier Lists for 
     </span>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_page == 'index' else '' }}" href="{{prefix}}index.html">Current Affixes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_page == 'all-affixes' else '' }}" href="{{prefix}}all-affixes.html">All Affixes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle{% if page_type == "affixes" and not (active_page == 'index' or active_page == 'all-affixes')%} active{% endif %}" href="#" id="navbarAffixes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Specific Affixes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarAffixes">
          {% for (name, slug, icon) in known_affixes %}
          {% if name == "All Affixes" %}
	        <div class="dropdown-divider"></div>	            
          {% endif %}
          {% if affixes in name %}
          <a class="dropdown-item active" href="{{prefix}}{{slug}}.html">{{icon}} &nbsp;{{name}}</a>
          {% else %}
          <a class="dropdown-item" href="{{prefix}}{{slug}}.html">{{icon}} &nbsp;{{name}}</a>
          {% endif %}
          {% endfor %}
        </div>
      </li>
      <span class="navbar-text" style="width: 2em; text-align: center;">
      </span>
      {{navbar_top_builds(prefix, "", archetype, active_page, known_tanks, known_healers, known_melee, known_ranged, active_raid)}}
     <span class="navbar-text">
       &nbsp; &nbsp; &nbsp; &nbsp;
     </span>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="addResDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="addResDropdown">
          <a class="dropdown-item" target="_blank" href="https://raider.io/news?tag=weekly-route">Raider.io Weekly Route</a>
<!--          <a class="dropdown-item" target="_blank" href="https://wago.io/mdt">Wago.io Routes</a> -->
          <a class="dropdown-item" target="_blank" href="https://keystone.guru/">Keystone.guru</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://what-key-should-i-run.vercel.app/">What Key Should I Run?</a>
          <a class="dropdown-item" target="_blank" href="https://mplus-title.vercel.app/">Mythic+ Estimated Title Cutoff</a>
          <a class="dropdown-item" target="_blank" href="https://justhealus.com/">Just Heal Us</a>
<!--          <a class="dropdown-item" target="_blank" href="https://valorpoints.eu/">Valor Points Calculator</a>           -->
          <a class="dropdown-item" target="_blank" href="https://mythicpl.us/">Mythicpl.us Affixes & M+ Info</a>
          <div class="dropdown-divider"></div>          
          <a class="dropdown-item" target="_blank" href="https://tanknotes.com/mythic-plus">TankNotes M+ Guides</a>
          <a class="dropdown-item" target="_blank" href="https://mythictrap.com/">Mythic Trap M+ Guides</a>          
          <a class="dropdown-item" target="_blank" href="https://questionablyepic.com/mythicplus-addon/">Questionably Epic M+ Addon</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://raider.io/mythic-plus-rankings/season-df-1/all/world/leaderboards">Raider.io M+ Leaderboards</a>
          <a class="dropdown-item" target="_blank" href="https://www.warcraftlogs.com/zone/rankings/32">Warcraft Logs Mythic+ Dungeons</a>
          <a class="dropdown-item" target="_blank" href="https://bestkeystone.com/">BestKeystone.com M+ Statistics</a>
          <a class="dropdown-item" target="_blank" href="https://keyscore.me/">keyscore.me M+ Statistics</a>
           <a class="dropdown-item" target="_blank" href="https://wowvalor.app/en/">Wowvalor M+ Build Guides</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://keystonemasters.live/">Keystone Masters Tournaments</a>
          <a class="dropdown-item" target="_blank" href="https://titanforge.libsyn.com/">Titanforge Podcast</a>
          <a class="dropdown-item" target="_blank" href="https://www.reddit.com/r/CompetitiveWoW/">r/CompetitiveWoW</a>
          <a class="dropdown-item" target="_blank" href="https://raidbots.com/">Raidbots</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://discord.gg/X8dyq67">Suggest more resources on the Discord</a>
        </div>
      </li>
    </ul>
  </div>

 </nav>
 {%- endmacro %}


 {% macro navbar_raid(active_page, prefix, page_type, archetype, known_tanks, known_healers, known_melee, known_ranged, active_raid="nathria") -%}
 <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <span class="navbar-text">
       Tier Lists for
     </span>
    <ul class="navbar-nav mr-auto">     
      <li class="nav-item">
        <a class="nav-link" href="index.html">Mythic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="vault-heroic.html">Heroic</a>
      </li>
      <span class="navbar-text" style="width: 2em; text-align: center;">
      </span>      
      {{navbar_top_builds(prefix, "", archetype, active_page, known_tanks, known_healers, known_melee, known_ranged, active_raid)}}
     <span class="navbar-text">
       &nbsp; &nbsp; &nbsp; &nbsp;
     </span>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="addResDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="addResDropdown">
          <a class="dropdown-item" target="_blank" href="https://readycheckpull.com/">Ready Check Pull</a>                    
          <a class="dropdown-item" target="_blank" href="https://tanknotes.com/sepulcher-of-the-first-ones">TankNotes</a>
          <a class="dropdown-item" target="_blank" href="https://mythictrap.com/">Mythic Trap</a>
          <a class="dropdown-item" target="_blank" href="https://questionablyepic.com/sepulcher/">Questionably Epic</a>
          <!--          <a class="dropdown-item" target="_blank" href="https://complexity.gg/sanctum-of-domination/">Complexity Limit Sanctum of Domination Guide</a> -->
           <a class="dropdown-item" target="_blank" href="https://www.wowhead.com/guides/sepulcher-of-the-first-ones-raid-overview-strategy-boss-guides-rewards">Wowhead Raid Guide</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://www.warcraftlogs.com/zone/rankings/29">Warcraft Logs</a>
          <a class="dropdown-item" target="_blank" href="https://raider.io/sepulcher-of-the-first-ones/rankings/world/mythic">Raider.io Raid Leaderboards</a>
          <a class="dropdown-item" target="_blank" href="https://progstats.io/">WoW Progression Stats</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://titanforge.libsyn.com/">Titanforge Podcast</a>
          <a class="dropdown-item" target="_blank" href="https://www.reddit.com/r/CompetitiveWoW/">r/CompetitiveWoW</a>          
          <a class="dropdown-item" target="_blank" href="https://raidbots.com/">Raidbots</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://discord.gg/X8dyq67">Suggest more resources on the Discord</a>          
        </div>
      </li>
    </ul>
  </div>
 </nav>
 {%- endmacro %}

{% macro navbar_pvp(active_page, prefix) -%}
 <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <span class="navbar-text">
       Tier Lists for
     </span>
    <ul class="navbar-nav mr-auto">     
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_page == 'pvp-index' else '' }}" href="{{prefix}}index.html">All Rated PvP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_page == 'pvp-solo-shuffle' else '' }}" href="{{prefix}}solo-shuffle.html">Solo Shuffle</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_page == 'pvp-2v2' else '' }}" href="{{prefix}}2v2.html">2v2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_page == 'pvp-3v3' else '' }}" href="{{prefix}}3v3.html">3v3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ ' active' if active_page == 'pvp-rbg' else '' }}" href="{{prefix}}rbg.html">RBGs</a>
      </li>      
     <span class="navbar-text">
       &nbsp; &nbsp; &nbsp; &nbsp;
     </span>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="addResDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="addResDropdown">
          <a class="dropdown-item" target="_blank" href="https://thelootdistrict.com/pvphub/">The Loot District PvP Hub</a>
          <a class="dropdown-item" target="_blank" href="https://drustvar.com/pvp/talents/">Drustvar</a>
          <a class="dropdown-item" target="_blank" href="https://pvpleaderboard.com">PvP Leaderboard</a>          
          <a class="dropdown-item" target="_blank" href="https://murlok.io/">Murlok.io</a>
          <!--          <a class="dropdown-item" target="_blank" href="https://banishsoul.com/">Banish Soul</a>-->
          <a class="dropdown-item" target="_blank" href="https://wowvalor.app/en/">Wowvalor PvP Build Guides</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://pvptv.io/">PvPtv.io</a>          
          <a class="dropdown-item" target="_blank" href="https://wowarenalogs.com/">WoW Arena Logs</a>
          <a class="dropdown-item" target="_blank" href="https://check-pvp.fr/">Check PvP</a>
          <a class="dropdown-item" target="_blank" href="https://www.xunamate.com/">Xunamate</a>
          <a class="dropdown-item" target="_blank" href="https://www.skill-capped.com/wow/">Skill Capped</a>          
          <a class="dropdown-item" target="_blank" href="https://www.reddit.com/r/worldofpvp">r/worldofpvp</a>          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://discord.gg/X8dyq67">Suggest more resources on the Discord</a>          
        </div>
      </li>
    </ul>
  </div>
 </nav>
{%- endmacro %}
