{% extends "unified-base.html" %}
{% set page_type = "main-index" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-1 py-3">
      </div>
    <div class="col-6 py-3">
<h1>Subcreation Privacy Policy</h1>
<h2 id="what-data-do-we-collect-">What data do we collect?</h2>
<p>Subcreation doesn&#39;t directly collect your personal information via this website.</p>
<p>Some of the companies we work with may collect your personal information and sometimes share it with us; please see below for more details.</p>
<h2 id="how-do-we-use-your-data-">How do we use your data?</h2>
<p>We don&#39;t use your personal information.</p>
<p>Some of the companies we work with may do so; please see below for more details.</p>
<h2 id="who-do-we-work-with-">Who do we work with?</h2>
<p>To operate this website, Subcreation, we work with Google, Cloudflare, Patreon, Raider.io, Warcraft Logs, Wowhead, and Blizzard. We use open source code from jQuery and Bootstrap (via Stackpath), and Bootswatch. We additionally work with GitHub, Twitter, and Discord to provide additional services related to this website.</p>
<h2 id="google">Google</h2>
<p>We&#39;re hosted on Google Cloud and use Google Analytics to measure how users interact with our site.</p>
<p>For details as to what Google does with data it collects, please see <a href="https://policies.google.com/technologies/partner-sites">https://policies.google.com/technologies/partner-sites</a></p>
<p>You may opt out of Google Analytics by using this browser extension: <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a></p>
<h2 id="cloudflare">Cloudflare</h2>
<p>We use Cloudflare for, among other services, caching, CDN, SSL, and anti-DDoS services.</p>
<p>Cloudflare may collect information about you when you access Subcreation through their services.</p>
<p>For details as to how Cloudflare treats any data it may collect as part of your use of Subcreation, please see <a href="https://www.cloudflare.com/privacypolicy/">https://www.cloudflare.com/privacypolicy/</a></p>
<h2 id="patreon">Patreon</h2>
<p>If you become a Patron via Patreon, you may submit data to Patreon. Patreon may in turn share some of that data with us, as outlined in this section of their privacy policy: <a href="https://privacy.patreon.com/policies?name=patreon-privacy-policy#information-we-share-with-creators">https://privacy.patreon.com/policies?name=patreon-privacy-policy#information-we-share-with-creators</a></p>
<p>We don&#39;t share any information about you with Patreon.</p>
<p>Please note that unless you visit Patreon or become a patron, Patreon won&#39;t receive any data about you. </p>
<p>For more details, please see <a href="https://privacy.patreon.com/policies">https://privacy.patreon.com/policies</a> </p>
<h2 id="raider-io">Raider.io</h2>
<p>We use Raider.io&#39;s API to obtain data about Mythic+ dungeons.</p>
<p>We don&#39;t share any information about you with Raider.io.</p>
<p>For details as to what data Raider.io collects, please see <a href="https://raider.io/privacy-policy">https://raider.io/privacy-policy</a></p>
<h2 id="warcraft-logs">Warcraft Logs</h2>
<p>We use Warcraft Logs&#39; API to obtain data about Raids and Mythic+ dungeons.</p>
<p>We don&#39;t share any information about you with Warcraft Logs.</p>
<p>For details as to what data Warcraft Logs collects, please see <a href="https://www.warcraftlogs.com/help/privacy">https://www.warcraftlogs.com/help/privacy</a></p>
<h2 id="wowhead">Wowhead</h2>
<p>We use Wowhead&#39;s tooltip library to provide icons and tooltips.</p>
<p>Wowhead may collect data about you as a result of our use of the tooltip library.</p>

<p>For details as to what information Wowhead collects, please see <a href="https://www.wowhead.com/privacy">https://www.wowhead.com/privacy</a></p>
<h2 id="blizzard">Blizzard</h2>
<p>Any information we receive from Blizzard (either via Blizzard APIs or via Warcraft Logs, Raider.io, or Wowhead) is subject to Blizzard&#39;s EULA: <a href="http://us.blizzard.com/en-us/company/legal/eula.html">http://us.blizzard.com/en-us/company/legal/eula.html</a></p>
<p>We don&#39;t share any information about you with Blizzard.</p>
<p>For more details about Blizzard&#39;s use of data about you, please see <a href="https://www.blizzard.com/en-us/legal/a4380ee5-5c8d-4e3b-83b7-ea26d01a9918/">https://www.blizzard.com/en-us/legal/a4380ee5-5c8d-4e3b-83b7-ea26d01a9918/</a></p>

<h2 id="jquery-and-bootstrap-via-stackpath">jQuery and Bootstrap via Stackpath</h2>
<p>We use jQuery and Bootstrap to provide functionality on this website. We access jQuery and Bootstrap through a CDN provided by Stackpath.</p>
<p>Stackpath may collect data about you as a result of our use of jQuery and Bootstrap hosted by their CDN.</p>
<p>For more details, please see <a href="https://www.stackpath.com/legal/privacy-statement/">https://www.stackpath.com/legal/privacy-statement/</a></p>
<h2 id="bootswatch">Bootswatch</h2>
<p>We use Bootswatch to provide functionality on this website (specifically, the dark theme). We access Bootswatch through a CDN provided by Bootswatch.</p>
<p>Bootswatch may collect data about you as a result of our use of this jQuery library hosted by their CDN.</p>
<p>For more details, please see <a href="https://bootswatch.com/">https://bootswatch.com/</a></p>
<h2 id="github">GitHub</h2>
<p>We use GitHub to host the source code of the website.</p>
<p>Please see GitHub&#39;s privacy policy for more details: <a href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement">https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement</a></p>
<h2 id="twitter">Twitter</h2>
<p>We have a Twitter account that provides updates about the website.</p>
<p>Please see Twitter&#39;s privacy policy for more details: <a href="https://twitter.com/en/privacy">https://twitter.com/en/privacy</a></p>
<h2 id="discord">Discord</h2>
<p>We have a Discord server that serves as an online discussion forum about the website.</p>
<p>Please see Discord&#39;s privacy policy for more details: <a href="https://discord.com/privacy">https://discord.com/privacy</a></p>

<h2 id="changes">Changes</h2>
<p>We may update this privacy policy from time to time, as needed. This privacy policy was last updated on October 5, 2020.</p>
<h2 id="contact">Contact</h2>
<p>You can contact us via email at alcaras@subcreation.net.</p>

    </div>
    <div class="col-5 py-3">
      </div>    
  </div>
</div>
{% endblock content %}
