{% macro pvp_stats_table(which_table, pretty_title, report, metric="rating") -%}

<div id="data-{{which_table}}-stats" class="container-fluid">
  <table class="sort table table-striped" id="table-{{which_table}}-stats">
    <tr data-sort-method='none'>
      <th title="lower bound of a 95% confidence interval">lb_ci</th>
      <th>{{pretty_title}}</th>
      <th title="average {{metric}}">x&#772;</th>
      <th title="max {{metric}}">max</th>
      <th>n</th>
    </tr>
    {% for (score, indiv, mean, n, slug, max_f, max_id) in report %}
    <tr>
      <td>{{score}}</td>
      <td>{{indiv}}</td>
      <td>{{mean}}</td>
      <td>{{max_f}}</td>
      <td>{{n}}</td>
    </tr>
    {% endfor %}
  </table> 
  <p>
    {% include 'lb_ci-definition.html' %}
  </p>
</div>
{%- endmacro %}
