{% macro raid_tier_list(n, ns, nlc, t, encounter, encounter_slug, role_package, prefix, affixes_slug, current_season, role_stats, max_raid_difficulty) -%}
{% import 'tier_list.html' as tier_list %}
{% import 'spec_table.html' as st %}
<div class="col-xl-6 col-lg-6 py-2">
  <h2>{{ns}} Tier List</h2>
    <p>
      <b class="affixes">{% if encounter=="all" %}All Bosses{% else %}<img src="images/bosses/sanctum/{{encounter_slug}}.jpg" width="20" height="20"> {{encounter}}{% endif %}</b><br/>
      <i>Based <b>solely</b> on <b>{%if ns=="Healer"%}hps{%else%}dps{%endif%}</b> from {{role_stats["n"]}} {{max_raid_difficulty}} parses. More details in the <a href="https://subcreation.net/faq.html#raid">FAQ</a>.</i>
      {%if ns=="Healer" or ns=="Tank"%}<br><i>Take this with <b>a huge grain of salt</b> for {{ns}}s <b>as it is only considering {%if ns=="Healer"%}hps{%else%}dps{%endif%}</b> and nothing else.</b></i>{%endif%}
    </p>
    {{ tier_list.tier_list(t) }}
  
<details id="{{nlc}}-stats">
   <summary>Detailed statistical analysis (for {{nlc}})</summary>
   <div id="{{nlc}}-stats-details" class="container-fluid">
Loading raid stats for {{nlc}}...
   </div>
</details>
</div>
{%- endmacro %}
