{% extends "base.html" %}
{% set page_type = "spec" %}
{% set active_page = spec_slug %}

{% block content %}

<div class="container-fluid">
  <div class="row">
<div class="col-12 py-3">
<h1><img src="images/specs/{{spec_slug}}.jpg" /> {{spec}}</h1>
<i>Based on data from the top {{n_parses}} {{spec}} M+ logs from the past 4 weeks, ranging in difficulty from +{{key_min}} to +{{key_max}}.</i> <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-controls="multi-collapse" aria-expanded="true">Toggle All</button>
</div>
  </div>
  <div class="row">


{% import 'spec_view.html' as spec_view %}
{{ spec_view.spec_view(n_parses, tea, talents, essences, primary, role, defensive, hsc, gear, spells, items) }}
    
  </div>
</div>


{% endblock content %}
