{% extends "base.html" %}
{% set page_type = "spec" %}
{% set active_page = spec_slug %}

{% block content %}

<div class="container-fluid">
  <div class="row">
<div class="col-12 py-3">
<h1><img src="images/specs/{{spec_slug}}.jpg" /> {{spec}}</h1>
<i>Based on data from the top {{n_parses}} {{spec}} parses in Mythic+ dungeons of at least +16 difficulty.</i>
</div>
  </div>
  <div class="row">

    <div class="col-xl-4 col-lg-6 py-3">
<h3>Talent Builds</h3>
<table class="table table-striped">
<tr>
  <th>Talents</th>
  <th>Overall %</th>
</tr>
{% for (frequency, build) in talents %}
<tr>
  <td>
    {% for spell in build %}
    <a href="https://www.wowhead.com/spell={{spells[spell][0]}}"></a>
    {% endfor %}
  </td>
  <td>
    {{ "%.2f%% (%d)" % ((frequency/n_parses*100), frequency) }}
  </td>
</tr>
{% endfor %}
</table>
    </div>
    
    <div class="col-xl-4 col-lg-6 py-3">
<h3>Essences</h3>
<table class="table table-striped">
<tr>
  <th>Major + Minors</th>
  <th>Overall %</th>
</tr>
{% for (frequency, build) in essences %}
<tr>
  <td>
    {% for spell in build %}
    <a href="https://www.wowhead.com/spell={{spells[spell][0]}}"></a>
    {% if loop.index0 == 0 %}
    &nbsp;
    {% endif %}
    {% endfor %}
  </td>
  <td>
    {{ "%.2f%% (%d)" % ((frequency/n_parses*100), frequency) }}
  </td>
</tr>
{% endfor %}
</table>
    </div>
    
    <div class="col-xl-4 col-lg-6 py-3">
<h3>Primary Azerite</h3>

<table class="table table-striped">
<tr>
  <th>Azerite Powers</th>
  <th>Overall %</th>
</tr>
{% for (frequency, build) in primary %}
<tr>
  <td>
    {% for spell in build %}
    <a href="https://www.wowhead.com/spell={{spells[spell][0]}}"></a>
    {% endfor %}
  </td>
  <td>
    {{ "%.2f%% (%d)" % ((frequency/n_parses*100), frequency) }}
  </td>
</tr>
{% endfor %}
</table>
    </div>
    
    <div class="col-xl-4 col-lg-6 py-3">
<h3>Role Azerite</h3>
<table class="table table-striped">
<tr>
  <th>Azerite Powers</th>
  <th>Overall %</th>
</tr>
{% for (frequency, build) in role %}
<tr>
  <td>
    {% for spell in build %}
    <a href="https://www.wowhead.com/spell={{spells[spell][0]}}"></a>
    {% endfor %}
  </td>
  <td>
    {{ "%.2f%% (%d)" % ((frequency/n_parses*100), frequency) }}
  </td>
</tr>
{% endfor %}
</table>
    </div>
    
    <div class="col-xl-4 col-lg-6 py-3">
<h3>Defensive Azerite</h3>

<table class="table table-striped">
<tr>
  <th>Azerite Powers</th>
  <th>Overall %</th>
</tr>
{% for (frequency, build) in defensive %}
<tr>
  <td>
    {% for spell in build %}
    <a href="https://www.wowhead.com/spell={{spells[spell][0]}}"></a>
    {% endfor %}
  </td>
  <td>
    {{ "%.2f%% (%d)" % ((frequency/n_parses*100), frequency) }}
  </td>
</tr>
{% endfor %}
</table>
    </div>
    
    <div class="col-xl-4 col-lg-6 py-3">
<h3>Helm / Shoulder / Chest</h3>

<table class="table table-striped">
<tr>
  <th>Helm / Shoulder / Chest</th>
  <th>Overall %</th>
</tr>
{% for (frequency, build) in hsc %}
<tr>
  <td>
    {% for item in build %}
    <a href="https://www.wowhead.com/item={{items[item][0]}}"></a>
    {% endfor %}
  </td>
  <td>
    {{ "%.2f%% (%d)" % ((frequency/n_parses*100), frequency) }}
  </td>
</tr>
{% endfor %}
</table>
    </div>
    
    <div class="col-xl-3 col-lg-4 py-3">
<h3>Rings</h3>

<table class="table table-striped">
<tr>
  <th>Rings</th>
  <th>Overall %</th>
</tr>
{% for (frequency, build) in rings %}
<tr>
  <td>
    {% for item in build %}
    <a href="https://www.wowhead.com/item={{items[item][0]}}"></a>
    {% endfor %}
  </td>
  <td>
    {{ "%.2f%% (%d)" % ((frequency/n_parses*100), frequency) }}
  </td>
</tr>
{% endfor %}
</table>
    </div>
    
    <div class="col-xl-3 col-lg-4 py-3">
<h3>Trinkets</h3>

<table class="table table-striped">
<tr>
  <th>Trinkets</th>
  <th>Overall %</th>
</tr>
{% for (frequency, build) in trinkets %}
<tr>
  <td>
    {% for item in build %}
    <a href="https://www.wowhead.com/item={{items[item][0]}}"></a>
    {% endfor %}
  </td>
  <td>
    {{ "%.2f%% (%d)" % ((frequency/n_parses*100), frequency) }}
  </td>
</tr>
{% endfor %}
</table>
    </div>
    
    <div class="col-xl-3 col-lg-4 py-3">
<h3>Weapons</h3>

<table class="table table-striped">
<tr>
  <th>Weapons</th>
  <th>Overall %</th>
</tr>
{% for (frequency, build) in weapons %}
<tr>
  <td>
    {% for item in build %}
    <a href="https://www.wowhead.com/item={{items[item][0]}}"></a>
    {% endfor %}
  </td>
  <td>
    {{ "%.2f%% (%d)" % ((frequency/n_parses*100), frequency) }}
  </td>
</tr>
{% endfor %}
</table>
    </div>
  </div>
</div>


{% endblock content %}
