{% macro spec_overview_table(sizing, title, heading, data, lookup, lookup_type, n_parses, offset_first="", offset_at = [0], anchor_id="", expanded="true", metric="dps") -%}

<div class="{{sizing}} py-3">
  <h3 id="{{anchor_id}}"><button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapse-{{anchor_id}}" aria-expanded="{{expanded}}" aria-controls="collapse-{{anchor_id}}">{{title}}</button> <a href="#{{anchor_id}}">#</a></h3>
  <div class="collapse multi-collapse{% if expanded=="true" %} show{% endif %}" id="collapse-{{anchor_id}}">
  <table class="table table-striped sort" id="table-spec-{{anchor_id}}">
    <thead>
      <tr>
        <th>{{heading}}</th>
        <th>max {{metric}}</th>
        <th>Overall % (n)</th>
      </tr>
    </thead>
    <tbody>
    {% for (frequency, build, popover) in data %}
    <tr>
      <td>
        {% for k in build %}
        <a href="https://www.wowhead.com/{{lookup_type}}={{lookup[k][0]}}"></a>
        {% if loop.index0 in offset_at %}
        {{offset_first}}
        {% endif %}
        {% endfor %}
      </td>
      <td>
        {% if popover|length > 0 %}
        {% set report_id = popover[0][3] %}
        {% set link_text = popover[0][2] %}
        <a href='https://www.warcraftlogs.com/reports/{{report_id}}' target='_blank'>{{link_text}}</a>
        {% endif %}
      </td>
<td>{{ "%.2f%% (%d)" % ((frequency/n_parses*100), frequency) }}</a></td>        
       

    </tr>
    {% endfor %}
    </tbody>
  </table>
  <script>
    new Tablesort(document.getElementById('table-spec-{{anchor_id}}'))
  </script>
  </div>
</div>

{%- endmacro %}
