{% macro spec_table(role_name, role_scores, prefix, affixes_slug, dungeon_slug) -%}
<div>
<h3>{{role_name}}</h3>
<table class="sort" id="table-{{role_name}}">
<tr data-sort-method='none'>
<th>lb_ci</th>
<th>Spec</th>
<th>x&#772;</th>
<th>max</th>
<th>n</th>
</tr>
{% for (lb_ci, spec, mean, n, slug, max_f, max_id) in role_scores %}
<tr>
<td>{{lb_ci}}</td>
{% if True %}
<td class="{{spec}}"><a href="{{prefix}}{{slug}}-{{affixes_slug}}.html">{{spec}}</a></td>
{% else %}
<td class="{{spec}}"><a href="{{prefix}}{{slug}}-{{dungeon_slug}}-{{affixes_slug}}.html">{{spec}}</a></td>
{% endif %}
<td>{{mean}}</td>
{% import 'max_link.html' as ml %}
{{ ml.max_link(max_f, max_id) }}
<td>{{n}}</td>
</tr>
{% endfor %}
</table>
</div>
<script>
  new Tablesort(document.getElementById('table-{{role_name}}'));
</script>
{%- endmacro %}

