{% macro spec_tier_list(n, ns, nlc, t, pretty_affixes, role_package, prefix, affixes_slug, current_season, role_stats) -%}
{% import 'tier_list.html' as tier_list %}
{% import 'spec_table.html' as st %}
<div class="col-xl-4 col-lg-6 py-3">
  <h2>{{ns}} Tier List</h2>
    <p>
      <b class="affixes">{{pretty_affixes}}</b><br/>
  <i>Based on {{role_stats["n"]}} runs, ranging in difficulty from +{{role_stats["min"]}} to +{{role_stats["max"]}}.</i>
    </p>
    {{ tier_list.tier_list(t) }}
  
<details>
   <summary>Detailed statistical analysis (for {{nlc}})</summary>
   <div class="container-fluid">
     {{ st.spec_table(n, role_package[n], prefix, affixes_slug, "", current_season) }}
     <p>
       {% include 'lb_ci-definition-dungeon.html' %}       
     </p>
   </div>
</details>
</div>
{%- endmacro %}
