{% extends "unified-base.html" %}
{% set page_type = "raid-spec" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-3">
      <h1><img src="images/spec-icons/{{spec_slug}}.jpg" class="zoom-icon" width="56" height="56"/> {{spec}} - {{encounter_pretty}}{% if difficulty == "Heroic" %} (Heroic){% endif %}</h1>
      <p>
        <i>The {%include "blurb-top.html"%} based on data from the top {{n_parses}} {{spec}} {{available_difficulty}} {{encounter_pretty}} logs ({{n_uniques}} unique characters) by <b>{{metric}}</b> from the past 4 weeks.</i>
      </p>
    </div>
  </div>

  {% if difficulty == "Mythic" %}
  {% if "Mythic" not in available_difficulty and "Heroic" not in available_difficulty and n_parses > 0 %}
  <div class="alert alert-danger">
    <h3>
      Temporarily using <b>Normal</b> parses because there are no public Mythic or Heroic parses.
    </h3>
  </div>  
  {% elif "Mythic" not in available_difficulty and n_parses > 0 %}
  <div class="alert alert-warning">
    <h3>
      Temporarily using <b>{{available_difficulty}}</b> parses because there are no public Mythic parses.
    </h3>
  </div>
  {% endif %}  
  {% else %}
  {% if "Heroic" not in available_difficulty and n_parses > 0 %}
  <div class="alert alert-danger">
    <h3>
      Temporarily using <b>Normal</b> parses because there are no public Heroic parses.
    </h3>
  </div>  
  {% endif %}  
  {% endif %}


  {% import 'raid-boss-bar.html' as raid_boss_bar %}
  {{ raid_boss_bar.raid_boss_bar(prefix=prefix, raid_canonical_order=raid_canonical_order, raid_short_names=raid_short_names, spec_slug=spec_slug, encounter=encounter, encounter_slug=encounter_slug, encounter_slugs=encounter_slugs, difficulty=difficulty, max_raid_difficulty=max_raid_difficulty, fated_raid=fated_raid, active_raid=active_raid) }}
  
{% if n_parses > 0 %}


  <div class="row">

{% import 'spec_view.html' as spec_view %}

{{ spec_view.spec_view(n_parses, talents, gear, enchants, gems, gem_builds, primordials, primordial_builds, talent_metadata, spells, items, enchant_ids, tier_items, tier_builds, embellished_items, embellished_builds, enchant_mapping=enchant_mapping, metric=metric) }}

  </div>
</div>

{% else %}

<div class="alert alert-warning">
  <h3>
    No public parses available yet
  </h3>
</div>
</div>

{% endif %}

{% endblock content %}
