{% import 'stats_table.html' as stats_table %}
{% if affixes == "All Affixes" %}
{{ stats_table.stats_table("affixes", "Affixes", affixes_report) }}
{% endif %}
{{ stats_table.stats_table("dungeons", "Dungeons", dungeons_report) }}
{{ stats_table.stats_table("tanks", "Tanks", role_package["Tanks"]) }}
{{ stats_table.stats_table("healers", "Healers", role_package["Healers"]) }}
{{ stats_table.stats_table("melee", "Melee", role_package["Melee"]) }}
{{ stats_table.stats_table("ranged", "Ranged", role_package["Ranged"]) }}
